.map-container {
    height: 500px;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.mapboxgl-popup-content {

    min-width: 200px;
  }
  
.row-title {
    align-items: center;
    background-color: #4094ae;
    border: 1px solid #4094ae;
    border-radius: 16px;
    color: #ffffff;
    font-weight: normal;
    justify-content: center;
    margin: 1;
    padding: 2px;
    text-align: center;
}

.name {
    color: rgba(0, 0, 0, 0.7); 
    font-size: 0.875rem;
    margin: 0;
    text-align: center;
}